## Test Dependencies
coverage==4.4.2
py==1.5.2
pyflakes==1.6.0
pytest-cache==1.0
pytest-cov==2.5.1
pytest-flakes==2.0.0
pytest==3.3.2

## Test Subdependencies
#apipkg==1.4
#attrs==17.4.0
#execnet==1.5.0
#funcsigs==1.0.2
#pluggy==0.6.0
